<h2><i class="fa fa-home"></i>Analysis Brazil 2014 Elections</h2>
<div class="breadcrumb-wrapper hidden-xs">
    <span class="label">You are here:</span>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li data-ng-repeat="breadcrumb in $state.current.data.breadcrumbs">
            <a href="javascript:void(0);">{{breadcrumb.title}}</a>
            <i class="fa fa-angle-right"></i>
        </li>
    </ol>
</div><!-- /.breadcrumb-wrapper -->
	