	
	<!-- Start left navigation - menu -->
	<ul data-collapse-menu class="sidebar-menu">
	
	    <!-- Start navigation - dashboard -->
	    <li class="active">
	        <a href="index.html">
	            <span class="icon"><i class="fa fa-home"></i></span>
	            <span class="text">Home</span>
	            <span class="selected"></span>
	        </a>
	    </li>
	    <!--/ End navigation - dashboard -->
	
	    <!-- Start category party -->
	    <li class="sidebar-category">
	        <span>PARTY</span>
	        <span class="pull-right"><i class="fa fa-server"></i></span>
	    </li>
	    <!--/ End category party -->
	
	    <!-- Start navigation - donation received -->
	    <li class="submenu">
	        <a href="javascript:void(0);">
	            <span class="icon"><i class="fa fa-user"></i></span>
	            <span class="text">Donation Received</span>
	            <span class="arrow"></span>
	        </a>
	        <ul>
	            <li><a href="#/partyPersonDonation" data-active-menu>Person</a></li>
	            <li><a href="#/partyCompanyDonation" data-active-menu>Company</a></li>
	        </ul>
	    </li>
	    <!--/ End navigation - donation received -->
		
	    <!-- Start category candidate -->
	    <li class="sidebar-category">
	        <span>CANDIDATE</span>
	        <span class="pull-right"><i class="fa fa-plus"></i></span>
	    </li>
	    <!--/ End category candidate -->
	
	    <!-- Start navigation - donation received -->
	    <li class="submenu">
	        <a href="javascript:void(0);">
	            <span class="icon"><i class="fa fa-user"></i></span>
	            <span class="text">Donation Received</span>
	            <span class="arrow"></span>
	        </a>
	        <ul>
	            <li><a href="#/candidatePersonDonation" data-active-menu>Person</a></li>
	            <li><a href="#/candidateCompanyDonation" data-active-menu>Company</a></li>
	        </ul>
	    </li>
	    <!--/ End navigation - donation received -->
		
	    <!-- Start category company -->
	    <li class="sidebar-category">
	        <span>Company</span>
	        <span class="pull-right"><i class="fa fa-plus"></i></span>
	    </li>
	    <!--/ End category company -->
	
	</ul><!-- /.sidebar-menu -->
	<!--/ End left navigation - menu -->
